SUPABASE_URL=""
SUPABASE_SERVICE_KEY=""
DATABASE_URL=""


GOOGLE_API_KEY_1=""
GOOGLE_API_KEY_2=""
GOOGLE_API_KEY_3=""

SARVAM_API_KEY=""

CLOUDFLARE_ACCOUNT_ID=""
CLOUDFLARE_API_TOKEN=""

LANGSMITH_TRACING=true
LANGSMITH_API_KEY=""
LANGSMITH_PROJECT="Livia-ai"